@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.nav-bg {
  background-color: #f2eee9;
}

.headers{
  @apply font-semibold text-5xl mb-4 text-center;
}

.navl, .name {
  @apply tracking-[1px] text-black relative transition-colors duration-300;
}

.navl:hover , .name:hover{
  @apply text-red-800; 
}

.navl::after, .name::after {
  @apply content-[''] bg-red-800 h-[3px] w-[0%] left-0 bottom-0 rounded-xl absolute duration-300;
}

.navl:hover::after, .name:hover::after {
  @apply w-[100%];
}

p {
  font-family: Georgia, serif;
}

.navl {
  font-family: "Poppins", sans-serif;
}