@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, sans-serif;
  color: #03045E;

  background-color: #FBF8CC;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  @apply text-2xl font-semibold;
}

a {
    @apply text-xl hover:cursor-pointer;
}

